  <div class="title"><h3 class="title-cook">cook-pado</h3>
    <div class="user">
    <%# ログイン・ログアウト・新規登録 %>
      <% if user_signed_in? %>
        <%= link_to current_user.name, "#", class: "user_name" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logaut" %>
      <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: "login" %>
      <%= link_to '新規登録', new_user_registration_path, class:"sign_in" %>
      <% end %>
    </div>