<div class="new-request">
  <h2 class="order">今日のメニュー</h2>
  <%= form_with model: @kitchen, local: true do |f|%>

  <%# 画像 %>
  <div class="img-upload">
    <div class="img-text">リクエストイメージ</div>
    <div class="click-upload"><p>クリックしてファイルをアップロード</p></div>
    <%= f.file_field :image, id: "item-image" %>
  </div>
  <%# リクエスト名 %>
  <div class="new-name">
    <div class="title">リクエスト料理</div>
    <%= f.text_area :title, id: "title-name", placeholder: "リクエスト料理名 (40文字まで)", maxlengs:"40" %>
  </div>
  <%# ジャンル %>
  <div class="new-genre">
    <div class="genre">料理のジャンル</div>
    <%= f.collection_select(:genre_id, GenreAc.all, :id, :name, {}, {class: "select-box", id: "select-genre"}) %> 
    </div>
  <% end %>
</div>