<table class="detail-table">
  <tr>
    <th class="detail-request">リクエスト者</th>
    <td class="detail-value"><%= @kitchen.user.name %></td>
  </tr>
  <tr>
    <th class="detail-request">リクエスト名<th>
    <td class="detail-value"><%= @kitchen.name %></td>
</table>