.cook-idea {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #e29399;
  font-size: 40px;
}



.user_name-btn {
  width: 150px;
  font-size: 15px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
}

.logaut-btn {
  width: 150px;
  font-size: 15px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #fafdff;
  border: 1px solid #fafdff;
  background-color: #88b5d3;
}

.login-btn {
  width: 150px;
  font-size: 15px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #fafdff;
  border: 1px solid #fafdff;
  margin-right: 30px;
  background-color: #88b5d3;
}

.sign_in-btn {
  width: 150px;
  font-size: 15px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #fafdff;
  border: 1px solid #fafdff;
  background-color: #88b5d3;
  margin-right: 30px;
}

.menu-btn {
  width: 150px;
  font-size: 15px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #fafdff;
  border: 1px solid #fafdff;
  background-color: #e29399;
}

.user {
  display: flex;
    padding-bottom: 20px;
}

.guide {
  display: flex;
}
