// Place all the styles related to the kitchens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  width: 100vw;
}

.user {
  display: flex;
  margin-bottom: 30px;
}

.user_name {
  margin-right: 30px;
  margin-left: 20px;
}